name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: pandoc/actions/setup@v1
      - name: Setup zh_CN.UTF-8 locale
        run: |
          sudo locale-gen zh_CN.UTF-8
          locale --all-locales
      - uses: astral-sh/setup-uv@v7
      - run: |
          uv sync --locked

      - uses: actions/configure-pages@v5
      - name: Build CSL styles
        run: uv run csl-sanitizer
      - run: cp main.user.js ./dist/
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist/

  deploy:
    needs: build
    permissions:
      # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
